header {
  background-color: #ec6f75;
  width: 80%;
  border-radius: 5px;
  margin: 10px;
  margin: 0 auto;
  text-align: center;
  color: white;
  position: relative;
}
header .allLinks {
  text-decoration: none;
  color: white;
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 30px;
}
.logo {
  text-decoration: none;
  color: white;
  font-size: 30px;
}
.refreshButton {
  margin-right: 50px;
}

header div {
  display: flex;
}

.about {
  margin-right: 95px;
  font-size: 1.2rem;
  margin-top: 10px;
}
